@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;
}
input{
  width: 100%;
  padding: .5rem;
  border-radius: 5px;
  color: hsl(249, 10%, 26%);
  margin: .5rem 0;
  border: 1px solid gray;
}